<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DirectoryPathForBinaryResults" value="C:\Users\Gajowa Lion\Documents\Piotrek\Polibuda\Sieci Neuronowe\Networks\"/>
    <add key="DirectoryOutputForVisualization" value="C:\Users\Gajowa Lion\Documents\Piotrek\Polibuda\Sieci Neuronowe\Visualization\"/>
  </appSettings>
</configuration>